html{
  scroll-behavior: smooth;
}
/* Header Part */
.navstyle{
    background-color: whitesmoke;
    opacity: 1;
}
.nav-link-a {
  font-size: 1.5rem;
  font-weight:bolder;
}
 .nav-link-a:hover {
  text-decoration: none; 
  color: forestgreen;
  }
  /* .nav-link:focus {
    color: firebrick !important;
  } */
  .nav-link.active {
    color: firebrick !important;
  }
  /* Section 1 */
  .carousel-slide-image-div{
    padding-top: 0px;
  }
  /* Section 1 close*/
  .imageslide{
    min-height: 80vh;
    max-height: 80vh;
  }
  /* About section  */
  
  /* Section 2 */
  #about{
    padding-top: 0px;
  }
  /* Section 2 close*/

  .about-section-header1 span {
    display: inline-block;
    font-size: 5rem;
    font-weight:bolder;
    opacity: .7;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(.3s * var(--i))
  }

  .about-section-header2{
    font-size: 1rem;
    font-weight:bold;
    opacity: .4;
  }
  /* about section div part 1 */
  .about-section-card{
    border: none;
  }
 .about-section-card-img{
  border-radius:0px !important;  
  min-height: 80vh;
  max-height: 80vh;
 }
 .about-section-card-title{
  color: firebrick;  
  opacity: 1.;
  font-size: 8rem;
  font-weight:bolder;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
 }

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes depth {
  0% {
    text-shadow: 0 0 white;
  }
  25% {
    text-shadow: 1px 0 white, 2px 0 white, 3px 0 white, 4px 0 white, 5px 0 white;
  }
  50% {
    text-shadow: 0 0 white;
  }
  75% {
    text-shadow: -1px 0 white, -2px 0 white, -3px 0 white, -4px 0 white,
      -5px 0 white;
  }
  100% {
    text-shadow: 0 0 white;
  }
}

 .about-section-card-text1{  
  font-size: 1.5rem;
  font-weight:bold;
  color: gold;  
 }
 .about-section-card-text2{  
  font-size: 2rem;
  font-weight:bold;
  color: white;  
 }
 /* about section div part 2 */
 .about-section-contenttext{
  background-color: rgb(63, 98, 114);
  min-height: 80vh;
  max-height: 80vh;
 }

/* Product section */

.product-section-header1 span {
  display: inline-block;
  font-size: 5rem;
  font-weight:bolder;
  opacity: .7;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(.3s * var(--i))
}

.product-section-header2{
  font-size: 1rem;
  font-weight:bold;
  opacity: .4;
}


/* Section page main heading text flip */
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
/* Media part */
  @media  only screen and (max-width:576px){
    .imageslide{
      min-height: 30vh;
      max-height: 30vh;
    }
    .about-section-card-img{
      min-height: 100vh;
      max-height: 100vh;
    }
    .about-section-contenttext{
      min-height: 100vh;
      max-height: 100vh;
    }
    .about-section-headertext-div2{
      font-size: 1.4rem;
      font-weight:bold;
    }
    .about-section-Paratext-div2{
      font-size: 1rem;
    }
  }
  @media  only screen and (max-width:767px) and (min-width:577px){
    .imageslide{
      min-height: 50vh;
      max-height: 50vh;
    }
    .about-section-card-img{
      min-height: 60vh;
      max-height: 60vh;
    }
  }
  @media  only screen and (max-width:992px) and (min-width:768px){
    .imageslide{
      min-height: 70vh;
      max-height: 70vh;
    }
    .about-section-card-img{
      min-height: 93vh;
      max-height: 93vh;
    }
    .about-section-contenttext{
      min-height: 93vh;
      max-height: 93vh;
    }
    .about-section-headertext-div2{
      font-size: 1.5rem;
      font-weight:bold;
    }
    .about-section-Paratext-div2{
      font-size: 1rem;
    }
    /* .about-section-card-title{
      font-size: 8rem;
      font-weight:bolder;
     }
    .about-section-card-text1{  
      font-size: 1.5rem;
      font-weight:bold;
     }
     .about-section-card-text2{  
      font-size: 2rem;
      font-weight:bold;
     } */
  }
  @media only screen and (max-width:1013px) and (min-width:993px){
    .nav-link-a {
      font-size: 1rem;
      font-weight:bolder;
    }
  }
  @media only screen and (max-width:1222px) and (min-width:1014px){
    .nav-link-a {
      font-size: 1.1rem;
      font-weight:bolder;
    }
    .about-section-card-img{
      min-height: 76vh;
      max-height: 76vh;
    }
    .about-section-contenttext{
      min-height: 76vh;
      max-height: 76vh;
    }
  }
  /* @media only screen and (min-width:1223px){
    .about-section-card-img{
      min-height: 68vh;
      max-height: 68vh;
    }
    .about-section-contenttext{
      min-height: 68vh;
      max-height: 68vh;
    }
  } */